{%  extends 'accounts/main.html' %}
{% block content %}
{% load static %}


    {% for results in Denetci_list_9001 %} 
       <br>
        <div class="form-row">
            <div class="form-group col-2.5">
              
                    <form method="GET">
                        {{myFilter.form}}
                        <button type="submit" class="btn btn-info">Submit</button>
                    </form>
              
            </div>
            <table>
                <tr>
                      
                </tr>
            </table> 
              
              
        </div>

    
        {% csrf_token %}
        {% for d in D9 %} 
        
        <table>
            {%if d%}
            <li><input type='checkbox' name='listsend' value='checked' id='listsend'>
                <span><label class='list'>{{d.Personel_Adı}}</label></span></li>
            {% endif %}
            {% for e in event %}  
                {% if e.start_time < e.end_time %}
                    <tr>{{e.end_time}}</tr>
                {% endif %}
            {% endfor %} 
            
            {% for e in event %} 
                {% if e.end_time == e.end_time %} 
                    <td class="table-danger">{{today}}</td>
                {% endif %} 
            {% endfor %}           

        </table>

            <tr>-----------</tr>
            
        
        
{% endfor %}
    
    {% endfor %} 
    
    
    

{% endblock %}