{%  extends 'accounts/main.html' %}

{% block content %}

<br>
<style>
	div.a {
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #000000;
}

.th, td {
            white-space: nowrap; 
            width: 100px; 
            overflow: hidden;
            text-overflow: ellipsis;
            border: 1px solid #000000;
            }

            th, td :hover {
            overflow: visible;
            }

</style>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Firmalar</h5>
        </div>
        <div class="card card-body">

            <table class="table">
                <tr>
                    <th>Cert No</th>
                    <th>Company Name</th>
                    <th>Standard</th>
                    <th>CA Date</th>
                    <th>SA1</th>
                    <th>SA2</th>
                    <th>ReReg</th>
                    <th>Suspension Date</th>
                    <th>Withdrawal Date</th>
                    <th>Adres</th>
                    <th>Yetkili_Kisi</th>
                    <th>Scope</th>
                    <th>Phone</th>
                    <th>Fax</th>
                    <th>Email</th>
                    <th>Ea</th>
                    <th>nace</th>
                    <th>Initial Cert Date</th>
                    <th>Cert Date</th>
                    <th>Belge Bitiş Tarihi</th>

                </tr>
				{% for i in all %}
				

                <tr>
                    <td>{{i.CertNo}}</td>
                    <td>{{i.Company_Name}}</td>
                    <td>{{i.Standard}}</td>
                    <td>{{i.CA_Date}}</td>
                    <td>{{i.SA1}}</td>
                    <td>{{i.SA2}}</td>
                    <td>{{i.ReReg}}</td>
                    <td>{{i.Suspension_Date}}</td>
					<td>{{i.Withdrawal_Date}}</td>
					<td>{{i.Address}}</td>
                    <td>{{i.Yetkili_Kisi}}</td>
                    <td>{{i.Scope}}</td>
                    <td>{{i.Phone}}</td>
                    <td>{{i.Fax}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.ea}}</td>
                    <td>{{i.nace}}</td>
                    <td>{{i.Initial_Cert_Date}}</td>
                    <td>{{i.Cert_Date}}</td>
                    <td>{{i.belge_bitiş_tarihi}}</td>

                </tr>


                {% endfor %}
                <table>
                    <tr>
                       
                        {% for i in Kontrol %} 
                            {{i.end_time}}
                        {% endfor %}  
                    
                    </tr>
                </table>   
                  

            </table>



            <table class="table">
              <tr>
                  <td>Ad</td>
                  <td>Soyad</td>
                  <td>TC</td>
                  <td>Şifre</td>
              </tr>
              <tr>
                <td>Resul</td>
                <td>AKKIZ</td>
                <td>12345678950</td>
                <td>1234</td>
              </tr>
              <tr>
                <td>cafer</td>
                <td>aydoğan</td>
                <td>12345678972</td>
                <td>ŞifreCafer12345</td>
              </tr>
              <tr>
                <td>Gamze</td>
                <td>Keskin</td>
                <td>12345678916</td>
                <td>qwe</td>
              </tr>
            </table>

        </div>
    </div>

</div>

{% endblock content %}
